/* General */

.img-circle {
  border-radius: 50%;
}

/* General */

html, body {
  height: 100%
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  font-family: 'Lora', serif;
}

h1, h2, h3 {
  color: #1a9b1c;
  font-family: 'Lora', serif;
}

button {
  color: #e85709;
}


/* General */


/* Navbar */


/* Navbar */


/* Image Gallery */

#gallery {
  margin-top: 50px;
}

#imageGallery {
  width: 100%;
}


/* Image Gallery */


/* Footer */

#footer {
  background-color: #383737;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-bottom: 25px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

#footerHeader {
  color: #dbdbdb;
}

.moreInfo {
  color: #e85709;
  padding-top: 50px;
}

.extra {
  list-style-type: none;
  float: left;
  color: #e85709;
  text-decoration: none;
}

.links {
  color: #e85709;
  text-decoration: none;
  font-size: 1.2em;
}

.links:visited {
  text-decoration: none;
}

.links:hover {
  color: #1a9b1c;
  text-decoration: none;
}

.links:active {
  color: #1a9b1c;
  text-decoration: none;
}

#copy {
  color: #dbdbdb;
}


/* Footer */
